ABOUT-NLS
ChangeLog
*~
config.guess
config.rpath
config.sub
aclocal.m4
*.cache
compile
config.h
config.h.in
config.log
config.status
configure
build
depcomp
README
README.html
install-sh
missing
*.o
stamp*
Makefile
Makefile.in
.deps
*.tar.gz
*.swp
